@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/script.js" asp-append-version="true" defer></script>

<div class="container mt-5">
    <div class="container-md row text-center">
        <div class="col-8" id="calcForm">
            <h1 class="mt-5">Calculator</h1>
            <form class="m-5" id="formCalculator">
                <div class="container mt-5" style="text-align: left;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" Id="checkBox">
                        <label class="form-check-label" for="flexCheckDefault">
                            Vrátit celé číslo
                        </label>
                    </div>                   
                </div>
                <div class="container mt-2"> 
                        <div class ="output">
                            <input data-previous data-expand id="ValueA" name="ValueA" class="previous-operand" value="" readonly />
                            <input data-operation-selected data-expand id="Operation" name="Operation"  value="" class="previous-operand" readonly />
                            <input data-current data-expand id="ValueB" name="ValueB" class="current-operand" vvalue="@ViewBag.Result" readonly />
                        </div>
                </div>
                <div class="container mt-5">
                    <div class="container">
                        <div class="row mt-3">
                            <div class="col-sm">
                                <button type="button" class="btn btn-secondary" data-number>1</button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-secondary" data-number>2</button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-secondary" data-number>3</button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-primary" data-operation>+</button>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row mt-3">
                            <div class="col-sm">
                                <button type="button" class="btn btn-secondary" data-number>4</button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-secondary" data-number>5</button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-secondary" data-number>6</button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-primary" data-operation>-</button>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row mt-3">
                            <div class="col-sm">
                                <button type="button" class="btn btn-secondary" data-number>7</button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-secondary" data-number>8</button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-secondary" data-number>9</button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-primary" data-operation>*</button>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row mt-3">
                            <div class="col-sm">
                                <button type="button" class="btn btn-secondary" data-number>0</button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-secondary" data-number>,</button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-secondary" data-manage>C</button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-primary" data-operation>/</button>
                            </div>
                        </div>
                    </div>
                </div>              
                <div class="container">
                    <div class="row mt-4">
                        <div class="col">
                            <button data-submit type="button" class="btn btn-danger" onclick="GetResult()">Spočítat</button>
                            
                        </div>
                    </div>
                </div>
            </form>           
        </div>
        <div class="col-4" id="history">
            <div class="container">
                <h1 class="mt-5 mb-3">History</h1>
                <div id="PartialView">
                        @*@Html.Partial("_HistoryViewPartial");*@
                        <partial name="_HistoryViewPartial" />
                </div>
            </div>
        </div>
    </div>
</div>

